<%- if @mobile_phone.errors %>
  <%- @mobile_phone.errors.full_messages.each do |error| %>
    <%= error %>
    <br />
  <% end %>
<% end %>

<%= form_for @mobile_phone do |f| %>
  Manufacturer: <%= f.select :manufacturer_id, Manufacturer.all.map {|m| [m.name, m.id] } %><br />
  Name: <%= f.text_field :name %><br />
  Memory storage : <%= f.text_field :memory_storage %><br />
  Display Size : <%= f.number_field :display_size, step: 0.1 %><br />
  Processor : <%= f.text_field :processor %><br />
  Operative memory : <%= f.text_field :operative_memory %><br />
  OS: <%= f.select :operation_system_id, OperationSystem.all.map {|os| [os.name, os.id] } %><br />
  Color: <%= f.select :color_ids, Color.all.map {|c| [c.name, c.id] }, {}, {:multiple => true} %>
  <br />
  price (BYN) : <%= f.number_field :price %><br />

  <%= f.submit %>
<% end %>
<br>
<button>
  <%= link_to "назад", mobile_phones_path %>
</button>