<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
  <%- @mobile_phone.mobile_phone_pictures.each.with_index do |mobile_phone_picture, index| %>
    <div class="carousel-item <%= 'active' if index == 0 %>">
      <%= image_tag mobile_phone_picture.picture.url(:medium), class: "d-block w-40" %>
    </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon-black" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon-black" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<table class="table">
  <tbody>
    <tr>
      <td>Модель:</td>
      <td><%= "#{@mobile_phone.manufacturer.name} #{@mobile_phone.name}" %></td>
    </tr>
    <tr>
      <td>Флэш-память:</td>
      <td><%= @mobile_phone.memory_storage %></td>
    </tr>
    <tr>
      <td>Размер экрана:</td>
      <td><%= @mobile_phone.display_size %></td>
    </tr>
    <tr>
      <td>Процессор:</td>
      <td><%= @mobile_phone.processor %></td>
    </tr>
    <tr>
      <td>Оперативная память:</td>
      <td><%= @mobile_phone.operative_memory %></td>
    </tr>
    <tr>
      <td>Операционная система:</td>
      <td><%= @mobile_phone.operation_system.name %></td>
    </tr>
    <tr>
      <td>Цвет:</td>
      <td>
        <%= @mobile_phone.colors.map { |color| color.name }.join(", ") %>
      </td>
    </tr>
  </tbody>
</table>

<%= link_to "назад", mobile_phones_path, class: "btn btn-dark" %>

