<b>
  <%= link_to @mobile_phone.manufacturer.name, manufacturer_path(@mobile_phone.manufacturer)%>
  <%= @mobile_phone.name %>
</b>
<br />
<%= @mobile_phone.memory_storage %>
<br />
<%= @mobile_phone.display_size %>
<br />
<%= @mobile_phone.operative_memory %>
<br />
<%= @mobile_phone.processor %>
<br />
<%= @mobile_phone.operation_system.name %>
<br />
<%- @mobile_phone.colors.each do |color| %>
<%= color.name %>
<% end %>
<br/>
<button>
  <%= link_to "редактировать", edit_mobile_phone_path(@mobile_phone) %>
</button>
<button>
  <%= link_to "удалить", mobile_phone_path(@mobile_phone), method: "DELETE", data: { confirm: "Are you sure?" } %>
</button>
<button>
  <%= link_to "назад", mobile_phones_path %>
</button>