<%- if @address.errors %>
  <%- @address.errors.full_messages.each do |error| %>
    <%= error %>
    <br />
  <% end %>
<% end %>

<div class="form-group">
  <%= form_for @address, url: {action: "update"}, html: {class: "nifty_form"} do |m| %>
    <%= m.label :address_1, value: "Основной адрес:" %><br />
    <%= m.text_field :address_1, class: "form-control" %><br>
    <%= m.label :address_2, value: "Дополнительный адрес:" %><br />
    <%= m.text_field :address_2, class: "form-control" %><br>
    <%= m.label :city, value: "Город:" %><br />
    <%= m.text_field :city, class: "form-control" %><br>
    <%= m.label :country, value: "Страна:" %><br />
    <%= m.text_field :country, class: "form-control" %><br>
    <%= m.label :zip_code, value: "Индекс:" %><br />
    <%= m.text_field :zip_code, class: "form-control" %><br>
    <button type="submit" class="btn btn-primary">Изменить</button>
    <%= link_to "Назад", addresses_path, class: "btn btn-primary" %>
  <% end %>
</div>
