  <%= link_to "Основная информация", user_path("me"), class: "btn btn-warning" %>
<%= link_to "Адреса", addresses_path, class: "btn btn-warning" %>
<%= link_to "История заказов", user_path("me"), class: "btn btn-warning" %>
<br>
<br>


<%= link_to "Добавить адрес", new_address_path, class: "btn btn-primary btn-sm" %>
<br>
<br>

<table class="table">
  <thead>
  <%- current_user.addresses.each do |address| %>
    <tr class="table-active">
      <th scope="row">Адрес:</th>
      <th scope="row"><%= link_to "Редактировать", edit_address_path(address), class: "btn btn-primary btn-sm" %></th>
      <th scope="row"><%= link_to "Удалить", address_path(address), class: "btn btn-primary btn-sm", :method => :delete, data: {:confirm => "Удалить адрес. Вы уверены?" } %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Основной адрес:</th>
      <th scope="row"><%= address.address_1 %></th>
    </tr>
    <tr>
      <th scope="row">Дополнительный адрес:</th>
      <th scope="row"><%= address.address_2 %></th>
    </tr>
    <tr>
      <th scope="row">Город:</th>
      <th scope="row"><%= address.city %></th>
    </tr>
    <tr>
      <th scope="row">Страна:</th>
      <th scope="row"><%= address.country %></th>
    </tr>
    <tr>
      <th scope="row">Индекс:</th>
      <th scope="row"><%= address.zip_code %></th>
    </tr>
    <% end %>
  </tbody>
</table>