<%- if @address.errors %>
  <%- @address.errors.full_messages.each do |error| %>
    <%= error %>
    <br />
  <% end %>
<% end %>

<div class="form-group">
  <%= form_for @address, html: {class: "nifty_form"} do |f| %>
    <%= f.label :address_1, value: "Основной адрес:" %><br />
    <%= f.text_field :address_1, class: "form-control" %><br />
    <%= f.label :address_2, value: "Дополнительный адрес:" %><br />
    <%= f.text_field :address_2, class: "form-control" %><br />
    <%= f.label :city, value: "Город:" %><br />
    <%= f.text_field :city, class: "form-control" %><br />
    <%= f.label :country, value: "Страна:" %><br />
    <%= f.text_field :country, class: "form-control" %><br />
    <%= f.label :zip_code, value: "Индекс:" %><br />
    <%= f.text_field :zip_code, class: "form-control" %><br />
  <button type="submit" class="btn btn-primary">Добавить</button>
    <%= link_to "Назад", addresses_path, class: "btn btn-primary" %>
  <% end %>
</div>
