<table class="table">
  <tbody>
<%- current_user.addresses.each do |address| %>
    <tr>
      <th scope="row">Основной адрес:</th>
      <th scope="row"><%= address.address_1 %></th>
    </tr>
    <tr>
      <th scope="row">Дополнительный адрес:</th>
      <th scope="row"><%= address.address_2 %></th>
    </tr>
    <tr>
      <th scope="row">Город:</th>
      <th scope="row"><%= address.city %></th>
    </tr>
    <tr>
      <th scope="row">Страна:</th>
      <th scope="row"><%= address.country %></th>
    </tr>
    <tr>
      <th scope="row">Индекс:</th>
      <th scope="row"><%= address.zip_code %></th>
    </tr>
    <% end %>
  </tbody>
</table>