<%- if @manufacturer.errors %>
  <%- @manufacturer.errors.full_messages.each do |error| %>
    <%= error %>
    <br />
  <% end %>
<% end %>

<%= form_for @manufacturer do |f| %>
  Name: <%= f.text_field :name %><br />

  <%= f.submit %>
<% end %>
<br>

<!-- <button>
  <%= link_to "в каталог", mobile_phones_path %>
</button> -->

<button>
  <%= link_to "назад", manufacturers_path %>
</button>