<b>
<th>Модели </th><%= @manufacturer.name %><th>:</th>
<br>
<%- @manufacturer.mobile_phones.each do |mobile_phone| %>
  <br>
  <%= link_to mobile_phone.name, mobile_phone_path(mobile_phone)%>
<% end %>
</b>
<br>
<br>

<button>
  <%= link_to "редактировать", edit_manufacturer_path(@manufacturer) %>
</button>
<button>
  <%= link_to "удалить", manufacturer_path(@manufacturer), method: "DELETE", data: { confirm: "Are you sure?" } %>
</button>
<button>
  <%= link_to "назад", manufacturers_path %>
</button>
